/storage/
/www/about.html
/www/contact.html
/www/faq.html
/www/index.html
/www/mail.php
/www/news.html
/www/news-details.html
/www/portfolio.html
/www/portfolio-details.html
/www/services.html
/www/services-details.html
/www/style.css
/www/team.html
/www/lib/
/www/assets/
